In [ ]:
str order
    arbitarary not
    access by index +
    nested -
    immutable
    
list order +
     arb +
    access by index +
    nested +
    mutable +
    
tuple  
    order +
    arb +
    access by index +
    nested +
    mutable -
    
set
    order -
    access by index -
    arb -
    mutable -
dict
    order +
    access by index -
    arb -> key=immutable value= +
    mutable +

[1, 2, 3, 'rasool']

Write a program to display all prime numbers within a range

In [139]:
number1 = int(input("adad khod ra vared konid"))
number2 = int(input("adad khod ra vared konid"))

lst = [] 
for j in range(number1, number2):
    for i in range(2,j):
        if j%i==0:    
            break
    else :
        lst.append(j)
print(lst)

adad khod ra vared konid 2
adad khod ra vared konid 18

[2, 3, 5, 7, 11, 13, 17]

In [ ]:
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

In [144]:
inp = int(input("adad khod ra vared konid"))

for i in range(1,inp):
    print("*"*i)
for i in range(inp,0,-1):
    print("*"*i)

adad khod ra vared konid 5

*
**
***
****
*****
****
***
**
*

In [162]:
a = [1,2,3,4,5,6,7,8,9,10,11]
dic = {"name":"rasool", "lastname": "ahadi"}

In [173]:
list(range(6,10,2))

[6, 8]

In [179]:
a = [0,1,2,3,4]

In [187]:
a =  ['foo', 'bar', 'baz', 'qux']

for i in a :
    if "l" in i:
        break
    print(i)
else : 
    print("else")
print("after for loop")

foo
bar
baz
qux
else
after for loop

In [201]:
n = 5
while n>0: print(n) ; n = n-1

5
4
3
2
1

In [ ]:
loop => for (iterable(dt, range))
        while